---
---

@import "{{ site.theme }}";
body {
  background-color: #100408;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  text-shadow: 1px 1px 5px black;
}
a {
  color: #80ffff;
  font-weight: normal;
}
a:hover {
  color: #408080;
  font-weight: normal;
}
a:active {
  color: #802040;
  font-weight: normal;
}
h2 {
  color: #ffffff;
  font-family: Georgia, serif;
  text-shadow: 3px 3px 5px black;
}
h1 {
  color: #ffffff;
  font-family: Georgia, serif;
  text-shadow: 5px 5px 5px black;
  font-variant: small-caps;
}
