body {
  background-color: hsl(340, 20%, 10%);
  color: hsl(340, 10%, 90%);
  font-family: Helvetica, sans-serif;
  text-shadow: 1px 1px 5px black;
}
a {
  color: hsl(180, 80%, 80%);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: hsl(180, 40%, 40%);
  font-weight: normal;
}
a:active {
  color: hsl(340, 40%, 40%);
  font-weight: normal;
}

.topnav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 48px;
  margin-left: 5%;
  overflow: hidden;
  font-family: Georgia, serif;
  font-variant: small-caps;
  background-color: hsl(340, 20%, 20%);
}
.topnav a {
  text-align: center;
  padding: 14px 16px;
}

.name {
  color: hsl(340, 10%, 90%);
  font-size: xx-large;
}
.name a {
  color: hsl(340, 10%, 90%);
}

.title {
  color: hsl(340, 10%, 60%);
}

.portrait {
  width: 32px;
}

.content {
  margin-top: 64px;
  margin-left: 5%;
}

.gallery {
  height: 400px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: thin;
}

.project {
  width: 330px;
  height: 100%;
  padding-right: 24px;
  display: table-cell;
}
.project img {
  max-width: 330px;
  max-height: 215px;
}

h1 {
  color: white;
  font-family: Georgia, serif;
  text-shadow: 5px 5px 5px black;
  font-variant: small-caps;
}
h2 {
  color: white;
  font-family: Georgia, serif;
  text-shadow: 3px 3px 5px black;
}