body {
  background-color: hsl(340, 20%, 10%);
  color: white;
  font-family: Helvetica, sans-serif;
  text-shadow: 1px 1px 5px black;
}

.sidenav {
  width: 20%;
  height: 100%;
  position: fixed;
  padding-top: 5%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.main {
  margin-left: 30%;
  padding-top: 5%;
}

a {
  color: hsl(180, 80%, 80%);
  font-weight: normal;
}
a:hover {
  color: hsl(180, 40%, 40%);
  font-weight: normal;
}
a:active {
  color: hsl(340, 40%, 40%);
  font-weight: normal;
}
h1 {
  color: white;
  font-family: Georgia, serif;
  text-shadow: 5px 5px 5px black;
  font-variant: small-caps;
}
h2 {
  color: white;
  font-family: Georgia, serif;
  text-shadow: 3px 3px 5px black;
}
