:root {
  --light-shades: #FBF9F9;
  --light-accent: #9E95A3;
  --main-color: #50687D;
  --dark-accent: #613651;
  --dark-shades: #1D2228;
}

body {
  background-color: var(--dark-shades);
  color: var(--light-shades);
  font-family: Arial, sans-serif;
  text-shadow: 0px 0px 5px black;
}
a {
  text-decoration: none;
}
h1 {
  font-family: Garamond, serif;
  font-variant: small-caps;
}
h2 {
  font-family: Garamond, serif;
}

.topnav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  background-color: var(--dark-accent);
  font-family: Georgia, serif;
  font-variant: small-caps;
}

.navout {
  text-align: center;
  padding-right: 2.5%;
  color: var(--main-color);
}
.navout a {
  color: var(--main-color);
}
.navout a:hover {
  color: var(--main-color);
}
.navout a:active {
  color: var(--main-color);
}

.name {
  text-align: center;
  padding-right: 2.5%;
  color: var(--light-shades);
  font-size: xx-large;
}
.name a {
  color: var(--light-shades);
}
.name a:hover {
  color: var(--light-shades);
}
.name a:active {
  color: var(--light-shades);
}

.portrait {
  width: 32px;
}

.content {
  padding-top: 64px;
  padding-left: 5%;
  padding-bottom: 20px;
}
.content a {
  color: var(--light-accent);
}
.content a:hover {
  color: var(--light-accent);
}
.content a:active {
  color: var(--light-accent);
}

.gallery {
  height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
}

.project {
  width: 330px;
  height: 100%;
  padding-right: 24px;
  display: table-cell;
}
.project img {
  max-width: 330px;
  max-height: 215px;
}

.bottomnav {
  padding-left: 5%;
  bottom: 10px;
  color: var(--dark-accent);
  font-size: small;
}